// Inferencium
// Midnight Commander - Keymap

// Copyright 2022-2023 Jake Winters
// SPDX-License-Identifier: GPL-3.0-or-later

// Version: 1.0.1.2


[main:empty-cmdline]
ChangePanel = tab
[main]
ChangePanel =
[input]
Complete = tab; alt-tab
