# Inferencium
# Git - Configuration

# Copyright 2022 Jake Winters
# SPDX-License-Identifier: BSD-3-Clause-Clear

# Version: 4.0.1.7


# Global
[diff]
		algorithm = histogram

# Codeberg
[includeIf "gitdir:/git/codeberg/key/"]
		path = ~/.gitconfig-inf

# GitHub
[includeIf "gitdir:/git/github/accrescent.app/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/awecron/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/grapheneos-website/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/isoalloc/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/key/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/madaidans-insecurities.github.io/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/platform_frameworks_base/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/github/privsec.dev/"]
		path = ~/.gitconfig.inf

# Inferencium
[includeIf "gitdir:/git/inferencium/cfg/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/doc/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/graphenechan/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/inf-kernel/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/linux-firmware-desktop/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/linux-firmware-server/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/mmd"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/scr/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/sys/"]
		path = ~/.gitconfig-inf
[includeIf "gitdir:/git/inferencium/website/"]
		path = ~/.gitconfig-inf
