// Inferencium
// Midnight Commander - Keymap

// Copyright 2022 Jake Winters
// SPDX-License-Identifier: BSD-3-Clause

// Version: 3.0.0.5


[main:empty-cmdline]
ChangePanel = tab
[main]
ChangePanel =
[input]
Complete = tab; alt-tab
